.ig_container{
   margin-right: 30px; 
   margin-left: 30px;
   background-color: rgb(21 20 20 / 12%); 
   min-height: 80vh;
}
.ig_title{
    color: black;
    padding: 20px;
    font-size: 80px;
}
.ig_desc{
    color: black;
    font-size: 30px;

}